.btn {
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	color: $white;
	transition: all .1s ease;

	&:hover {
		background-color: $orange;
	}

	&--full {
		background-color: $carrot;
		border: 1px solid $carrot;
		margin-right: 15px;

		&:hover {
			border: 1px solid $orange; 
		}
	}

	&--ghost {
		border: 1px solid $carrot;
		color: $carrot;

		&:hover {
			color: $white;
			border: 1px solid $orange;
		}
	}
}