.footer {
	background-color: $dark;
	padding: 10px;
    
    @mixin atMedium {
        padding: 40px;
    }

	&__nav {
		list-style: none;
        margin-bottom: 20px;
		
        @mixin atMedium {
            float: left;
        }

		& li {
			display: block;
            text-align: center;
            margin-bottom: 3px;
            
            @mixin atMedium {
                display: inline-block;
                margin-right: 20px;
                margin-bottom: 0;
                text-align: left;
            }
		}

		&--link:hover {
			color: #ddd;
		}
	}

	&__social {
		list-style: none;
        margin-bottom: 20px;
		text-align: center;
        
        @mixin atMedium {
            text-align: right;
        }

		& li {
			display: inline-block;
			margin-right: 20px;
		}

		& li:last-child {
			margin-right: 0;
		}

		& .ion-social-facebook:hover {
			color: $facebook;
		}

		& .ion-social-twitter:hover {
			color: $twitter;
		}

		& .ion-social-googleplus:hover {
			color: $googleplus;
		}

		& .ion-social-instagram:hover {
			color: $instagram;
		}
	}

	& a, i {
		text-decoration: none;
		border: none;
		color: $footer;
		transition: color .3s ease;
	}

	&__copyright {
		color: $footer;
		text-align: center;
		margin-top: 10px;
        
        @mixin atMedium {
            margin-top: 50px;
        }
	}
}