.hero {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../../assets/images/hero.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
	overflow: hidden;

	&__text {
		position: absolute;
		width: 100%;
		padding: 0 4%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		@mixin atSmall {
			padding: 0 2%
		}

		@mixin atLarge {
			width: 1140px;
		}

		&--title {
			margin-top: 0;
			margin-bottom: 20px;
			color: $white;
			font-size: 200%;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 1px;
			word-spacing: 3px;
            
            @mixin atSmall {
                font-size: 240%;
            }
		}
	}
    
    & .btn {
        margin-bottom: 5px;
        
        @mixin atMedium {
            margin-bottom: 0;
        }
    }
}
