.logo {
	height: 50px;
	width: auto;
	float: left;
	margin-top: 10px;

	@mixin atMedium {
		height: 100px;
		margin-top: 20px;
	}
}

.main-navigation {
	float: right;
	list-style: none;
	margin-top: 50px;
	opacity: 0.5;
	transition: all .3s ease-out;
	transform: translateX(300px);

	&--expanded {
		transform: translateX(0);
		opacity: 1;
	}

	&__item {
		display: block;
		margin: 0 32px 7px 0;
		transition: all .1s ease-out;

		@mixin atMedium {
			display: inline-block;
			margin: 0 0 0 40px;
		}

		& a {
			color: $white;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 1.1rem;
			padding: 8px 0;

			&:hover {
				@mixin atMedium {
					border-bottom: 2px solid $carrot;
				}
			}
		}
	}

	@mixin atMedium {
		display: block;
	}
}