.logo {
	height: 100px;
	width: auto;
	float: left;
	margin-top: 20px;
}

.main-navigation {
	float: right;
	list-style: none;
	margin-top: 50px;
	display: none;

	&__item {
		display: inline-block;
		margin-left: 40px;
		transition: all .1s ease;

		& a {
			color: $white;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 1.1rem;
			padding: 8px 0;

			&:hover {
				border-bottom: 2px solid $carrot;
			}
		}
	}

	@mixin atMedium {
		display: block;
	}
}