.section {
	padding: 80px 0;

	&__title {
		font-weight: 300;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-size: 2.25rem;
		word-spacing: 2px;
		text-align: center;
		margin-bottom: 30px;

		&::after {
			display: block;
			height: 2px;
			background-color: $carrot;
			content: "";
			width: 100px;
			margin: 0 auto;
			margin-top: 30px; 
		}
	}

	&__subtitle {
		line-height: 145%;
		width: 70%;
		margin-left: 15%;
		text-align: center;
		margin-bottom: 30px;
	}
}